@page "/"
@inject NavigationManager navManager
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor





<div class="section-address">
    <div>
        @if (!HasMetaMask)
        {
            <p>No MetaMask detected. Please install <a href="https://metamask.io" target="_blank">MetaMask</a>.</p>
        }
        else if (IsSiteConnected)
        {
            <div class="address">
                <p>@SelectedAddress : @SelectedNetwork</p>
            </div>
        }
        else
        {
            <br />
            <Button Color="Color.Primary" Clicked="ConnectMetaMask">Connect MetaMask</Button>
            <br />
        }
    </div>
</div>
<div>
    <div>
        <h1 class="header-label">Web3 Trust Fund</h1>
        
    </div>
</div>
<br />
<Div Class="tab-container" Position="Position.Relative">
    <Blazorise.ThemeProvider Theme="@theme">
        <Div class="tabs" Position="Position.Absolute.Start.Is50.Translate.Middle">
            <Tabs SelectedTab="@SelectedTab" SelectedTabChanged="@OnSelectedTabChanged"> 
                <Items>
                    <Tab Class="tab-color" Border="Border.Is3.RoundedPill.Danger" Name="/">Home</Tab>
                    <Tab Class="tab-color" Border="Border.Is3.RoundedPill.Danger" Name="/CreateTrust">CreateTrust</Tab>
                    <Tab Class="tab-color" Border="Border.Is3.RoundedPill.Danger" Name="/WithdrawFunds">WithdrawFunds</Tab>
                </Items>
            </Tabs>
        </Div>
    </Blazorise.ThemeProvider>
</Div>
<br />
<Div Class="center">
    <h3 class="info">   Welcome to the world's only trustless trust fund! 
                        You can create a timelocked trust fund that can 
                        ONLY be withdrawn by the beneficiary on the date 
                        specified by you. No government, bank, creditor, 
                        or court can confiscate or tax this fund. It's 
                        under your control, and only your control. No 
                        complicated instructions or algorithms. Check the 
                        steps to get started.
                        </h3>
</Div>
<br />
<Div>
    <Div Class="steps">
        <h3 class="info">Steps to Create a Trust:</h3>
        <ol>
            <li class="step">Log in with your Metamask wallet.</li>
            <li class="step">Click the "Create Trust" tab.</li>
            <li class="step">Enter a chosen wallet address for the beneficiary of funds.</li>
            <li class="step">Enter an amount of ETH to lock up.</li>
            <li class="step">Enter a date for the funds to be released.</li>
            <li class="step">Click "Submit and Create Trust" button, then confirm transaction in metamask wallet.</li>
            <li class="step">Enjoy knowing that your funds are secure and untouchable while on the Cardano blockchain.</li>
        </ol>
        <h3 class="info">Steps to Withdraw Funds:</h3>
        <ol>
            <li class="step">Log in with your Metamask wallet.</li>
            <li class="step">Click the "Withdraw Funds" tab.</li>
            <li class="step">Enter the amount of funds you want to withdraw.</li>
            <li class="step">Click "Submit and Withdraw Funds" button.</li>
            <li class="step">Your funds are then released to your metamask wallet!</li>
        </ol>
    </Div>
</Div>
<br />






















